<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/center.css">
    <script type="text/javascript" src="static/js/center.js" ></script>
</head>
<body>
    <div class="header"></div>
    <div class="container">
        <!-- TODO : frameset? in html5? -->
        <div class="left">
            <div class="korbit balance">
                <img class="center_logo" src="static/images/korbit_logo.png">
                <p class="balance_number">???,???</p>
            </div>
            <div class="coinone balance">
                <img class="center_logo" src="static/images/coinone_logo.png">
                <p class="balance_number">???,???</p>
            </div>
            <div class="bithumb balance">
                <img class="center_logo" src="static/images/bithumb_logo.png">
                <p class="balance_number">???,???</p>
            </div>
            <div class="cpdax balance">
                <img class="center_logo" src="static/images/cpdax_logo.png">
                <p class="balance_number">???,???</p>
            </div>
            <div class="option">
                <div class="alarm checkbox">
                  <label><input type="checkbox">Alarm</label>
                </div>
                <div class="trade checkbox">
                  <label><input type="checkbox">Trade</label>
                </div>
                <div class="label checkbox">
                  <label><input type="text" placeholder="" value="btg,eos"></label>
                </div>
                <div class="trade_thres label">
                    <label><input type="text" placeholder="threshold" value="1.5"></label>
                </div>
                <div class="alarm_thres label">
                    <label><input type="text" placeholder="alarm_threshold" value="0.6"></label>
                </div>
                <div class="order label">
                    <label><input type="text" placeholder="order" value="100000"></label>
                </div>
                <div class="button"><button type="button" class="btn btn-primary" onclick="saveSetting()">Save</button></div>
            </div>
        </div>
        <div class="datas" style="display:table">
            <table class="contents table">
                <thead>
                    <td>CUR</td>
                    <td><img class="center_logo" src="static/images/korbit_logo.png"></td>
                    <td><img class="center_logo" src="static/images/coinone_logo.png"></td>
                    <td><img class="center_logo" src="static/images/bithumb_logo.png"></td>
                    <td><img class="center_logo" src="static/images/cpdax_logo.png"></td>
                    <td>per</td>
                </thead>
                <tbody class="recent_trade">
                </tbody>
            </table>
            <div class="accounts" style="float:right">
            <table class="accs table">
                <thead>
                    <td>CUR</td>
                    <td>amount</td>
                </thead>
                <tbody>
                <tr>
                    <td>KRW</td><td class="krw"></td>
                </tr>
                </tbody>
            </table>
        </div>
            <table class="history table table-condensed">
                <thead>
                    <td>BUY</td>
                    <td>SELL</td>
                    <td>Cur</td>
                    <td>amount</td>
                </thead>
                <tbody class="trade_history"></tbody>
            </table>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>

